      <div class="posts">

        {{#each posts}}
                <div class="card">
        <div class="card-content" >
          <span class="card-title activator grey-text text-darken-4" class="title"> {{post.title}}<i class="material-icons center">&nbsp; &nbsp;↑</i></span>
            <div class="post-content" style="text-align: center;">
              <p>{{post.content}}</p>
            </div>
          </div>   
          <div style="text-align:end;">
            <h5 class="username"><a href="#">{{post.User.username}}</a></h5> 
            <h6 class="date">{{format_date post.createdAt}}</h6>
            <div>
              <button class="comment-btn" type="button">Add Comment</button>
              <button class="edit-btn" type="button">Edit Post</button>
            </div>  
        </div>
        {{#if post.comment}}
          <div class="card-reveal" style="text-align: left;">
            <span style="text-align: center;" class="card-title grey-text text-darken-4">Comments <i class="material-icons center">&nbsp; &nbsp;↓</i></span>
              <div style="font-size: 20px;" class="coment-posts">
                <h6 style="padding-left: 90%;" class="username"> {{User.username}} </h6>
                <p1 style="padding-left: 2%;" class="comment-content">{{content}}</p1><br><br>
              </div>
        {{/if}}      
        </div>
      </div>
        {{/each}}

      </div>
